<div class="app">
    <header class="left-menu">
        <div class="user-logo">菜谱logo</div>
        <ul class="menu-list">
            <li>红萝卜</li>
            <li>红烧茄子</li>
            <li>红烧排骨</li>
            <li></li>
            <li></li>
        </ul>
    </header>
    <div class="right-content">
        <header>
            <div>
                <input type="text" name="" id="" placeholder="输入你想吃的菜">
            </div>
            <ul class="top-btns">
                <li><span class="icon iconfont du-shuaxin"></span></li>
                <li><span class="icon iconfont du-xiala"></span></li>
                <li><span class="icon iconfont du-zuixiaohua"></span></li>
                <li><span class="icon iconfont du-guanbi"></span></li>
            </ul>
        </header>
        <router-outlet class="router-outlet"></router-outlet>
    </div>
</div>
